:root {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #000; }

h1 {
  line-height: normal; }

a {
  text-decoration: none;
  color: #000; }

p a {
  font-weight: 400;
  text-decoration: underline; }

.published {
  color: gray;
  font-size: small;
  font-weight: 400; }

.back {
  margin-top: 40px; }

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #ddd9d9; }
  a {
    text-decoration: none;
    color: #ddd9d9; } }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: url("/fonts/Inter-Thin.woff2?v=3.19") format("woff2"), url("/fonts/Inter-Thin.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: block;
  src: url("/fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-ThinItalic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: url("/fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"), url("/fonts/Inter-ExtraLight.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: block;
  src: url("/fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("/fonts/Inter-Light.woff2?v=3.19") format("woff2"), url("/fonts/Inter-Light.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: block;
  src: url("/fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-LightItalic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("/fonts/Inter-Regular.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/Inter-Italic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-Italic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("/fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("/fonts/Inter-Medium.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: block;
  src: url("/fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-MediumItalic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: block;
  src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/Inter-Bold.woff2?v=3.19") format("woff2"), url("/fonts/Inter-Bold.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-BoldItalic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url("/fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"), url("/fonts/Inter-ExtraBold.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: block;
  src: url("/fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("/fonts/Inter-Black.woff2?v=3.19") format("woff2"), url("/fonts/Inter-Black.woff?v=3.19") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: block;
  src: url("/fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"), url("/fonts/Inter-BlackItalic.woff?v=3.19") format("woff"); }

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center; }

.posts {
  grid-area: posts; }

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin: 50px auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 260px 1fr;
  grid-template-areas: "sidebar posts"; }

@media (max-width: 800px) {
  .container {
    gap: 20px;
    grid-template-columns: auto;
    grid-template-areas: "sidebar"  "posts"; } }

.logo {
  display: block;
  width: 100px;
  border-radius: 104px;
  border: 1px solid gray; }

.name {
  font-weight: 600;
  font-size: 20px; }

.name a {
  text-decoration: none;
  color: #000; }

.icons {
  margin-top: 20px; }
