:root {
  font-family: system-ui, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #000; }

h1 {
  line-height: normal; }

a {
  text-decoration: none;
  color: #000; }

p a {
  font-weight: 400;
  text-decoration: underline; }

.published {
  color: gray;
  font-size: small;
  font-weight: 400; }

.back {
  margin-top: 40px; }

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #ddd9d9; }
  a {
    text-decoration: none;
    color: #ddd9d9; } }

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center; }

.posts {
  grid-area: posts; }

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin: 50px auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 260px 1fr;
  grid-template-areas: "sidebar posts"; }

@media (max-width: 800px) {
  .container {
    gap: 20px;
    grid-template-columns: auto;
    grid-template-areas: "sidebar"  "posts"; } }

.logo {
  display: block;
  width: 100px;
  border-radius: 104px;
  border: 1px solid gray; }

.name {
  font-weight: 600;
  font-size: 20px; }

.name a {
  text-decoration: none;
  color: #000; }

.icons {
  margin-top: 20px; }
