@import "base";

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 690px;
  margin: 50px auto;
  display: grid;
}

.logo {
  display: block;
  border-radius: 104px;
  border: 1px solid gray;
}

.name {
  font-weight: 600;
  font-size: 13px;
}

.topbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.published {
  margin-left: 20px;
}

pre {
  overflow-x: auto;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  pre {
    background-color: #ddd !important;
  }
}

.image {
  text-align: center;
  margin: 20px 20px;
}

.image img {
  max-width: 100%;
}

blockquote {
  border-left: 4px solid gray;
  padding-left: 20px;
  margin-left: 0;
}

em {
  font-size: 14px;
}
