:root {
  font-family: system-ui, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #35373a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1 {
  line-height: normal; }

a {
  text-decoration: none;
  color: #000; }

p a {
  font-weight: 400;
  text-decoration: underline; }

.published {
  color: gray;
  font-size: small;
  font-weight: 400; }

.back {
  margin-top: 40px; }

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #ddd9d9; }
  a {
    text-decoration: none;
    color: #ddd9d9; } }

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 690px;
  margin: 50px auto;
  display: grid; }

.logo {
  display: block;
  border-radius: 104px;
  border: 1px solid gray; }

.name {
  font-weight: 600;
  font-size: 13px; }

.topbar {
  display: flex;
  align-items: center;
  gap: 10px; }

.published {
  margin-left: 20px; }

pre {
  overflow-x: auto;
  padding: 10px; }

pre {
  background-color: #f6f6f6 !important; }

@media (prefers-color-scheme: dark) {
  pre {
    background-color: #ddd !important; } }

.image {
  text-align: center;
  margin: 20px 20px; }

.image img {
  max-width: 100%; }

blockquote {
  border-left: 4px solid gray;
  padding-left: 20px;
  margin-left: 0; }

em {
  font-size: 14px; }

h4 {
  margin-bottom: 0;
  margin-top: 0; }
