body {
  font-family: Georgia, 'DejaVu Serif', serif;
  color: #263238;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #263238;
}

h1 {
  font-size: 28px;

  a {
    color: #263238;

    &:hover {
      color: #263238;
    }
  }
}

h2 {
  font-size: 20px;
}

.published {
  margin-bottom: 10px;
  color: #666;
  font-style: italic;
}

.avatar {
  text-align: center;
  margin-top: 25px;

  img {
    width: 150px;
    border-radius: 104px;
    -webkit-border-radius: 104px;
  }
}

.icons {
  margin: 10px 0 4px 0px;

  a {
    font-size: 21px;
    color: #666;
  }

  a + a {
    margin-left: 20px;
  }
}

.social-share-icons {
  font-size: 20px;
  text-align: center;

  a + a {
    margin-left: 20px;
  }
}

code {
  color: #2A6496;
  background-color: #F7FAFD;
}

pre {
  background-color: #fff;
}

.twitter-contact, .articles-info {
  margin-top: 20px;
}

footer {
  p {
    font-size: 11px;
  }
}

.image {
  text-align: center;
  margin: 20px 20px;
}

.hll{background-color:#EFEFEF}
.c{color:#929292}
.err{background:#C82829;color:#FFFFFF}
.k{color:#8959A8}
.l{color:#F5871F}
.n{color:#4271AE}
.o{color:#545454}
.p{color:#929292}
.cm{color:#929292}
.cp{color:#929292}
.c1{color:#929292}
.cs{color:#929292}
.gd{color:#C82829}
.ge{font-style:italic}
.gh{color:#545454;font-weight:bold}
.gi{color:#718C00}
.gp{color:#718C00;font-weight:bold}
.gs{font-weight:bold}
.gu{color:#3E999F;font-weight:bold}
.kc{color:#8959A8}
.kd{color:#8959A8}
.kn{color:#3E999F}
.kp{color:#4271AE}
.kr{color:#8959A8}
.kt{color:#EAB700}
.ld{color:#718C00}
.m{color:#F5871F}
.s{color:#718C00}
.na{color:#4271AE}
.nb{color:#4271AE}
.nc{color:#EAB700}
.no{color:#EAB700}
.nd{color:#3E999F}
.ni{color:#545454}
.ne{color:#C82829}
.nf{color:#4271AE}
.nl{color:#545454}
.nn{color:#EAB700}
.nx{color:#4271AE}
.py{color:#545454}
.nt{color:#3E999F}
.nv{color:#C82829}
.ow{color:#3E999F}
.w{color:#545454}
.mf{color:#F5871F}
.mh{color:#F5871F}
.mi{color:#F5871F}
.mo{color:#F5871F}
.sb{color:#718C00}
.sc{color:#545454}
.sd{color:#929292}
.s2{color:#718C00}
.se{color:#F5871F}
.sh{color:#718C00}
.si{color:#F5871F}
.sx{color:#718C00}
.sr{color:#718C00}
.s1{color:#718C00}
.ss{color:#718C00}
.bp{color:#545454}
.vc{color:#C82829}
.vg{color:#C82829}
.vi{color:#C82829}
.il{color:#F5871F}
