<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" crossorigin="anonymous" href="/css/default.css" as="style">
<link rel="preload" crossorigin="anonymous" href="/css/post.css" as="style">

<link rel="stylesheet" crossorigin="anonymous" href="/css/{{ css }}.css">
<link rel="icon" crossorigin="anonymous" href="/images/favicon.png">
<title>{{ title }}</title>
