<meta charset="utf-8">
<link rel="preload" crossorigin="anonymous" href="/fonts/Inter-Regular.woff2?v=3.19" as="font">
<link rel="preload" crossorigin="anonymous" href="/fonts/Inter-Light.woff2?v=3.19" as="font">
<link rel="preload" crossorigin="anonymous" href="/fonts/Inter-Bold.woff2?v=3.19" as="font">
<link rel="preload" crossorigin="anonymous" href="/fonts/Inter-SemiBold.woff2?v=3.19" as="font">
<link rel="preload" crossorigin="anonymous" href="/css/default.css" as="style">

<link rel="stylesheet" crossorigin="anonymous" href="/css/{{ css }}.css">
<link rel="icon" crossorigin="anonymous" href="/images/favicon.png">
<title>{{ title }}</title>
