:root { 
  font-family: system-ui, sans-serif; 
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #000;
}

h1 {
  line-height: normal;
}


a {
  text-decoration: none;
  color: #000;
}

p a {
  font-weight: 400;
  text-decoration: underline;
}

.published {
  color: gray;
  font-size: small;
  font-weight: 400;
}

.back {
  margin-top: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #ddd9d9;
  }

  a {
    text-decoration: none;
    color: #ddd9d9;
  }
}
